{# ?????????????? JS ???????????????????? include ???? #}
{% include 'quiz/partials/quiz/assets/js/_00_bootstrap.html' %}
{% include 'quiz/partials/quiz/assets/js/_01_study_mode.html' %}
{% include 'quiz/partials/quiz/assets/js/_02_forward.html' %}
{% include 'quiz/partials/quiz/assets/js/_03_question_edit.html' %}
{% include 'quiz/partials/quiz/assets/js/_04_question_tags.html' %}
{% include 'quiz/partials/quiz/assets/js/_05_core_state_fab.html' %}
{% include 'quiz/partials/quiz/assets/js/_06_init_progress.html' %}
{% include 'quiz/partials/quiz/assets/js/_07_render_show_question.html' %}
{% include 'quiz/partials/quiz/assets/js/_08_check_answer.html' %}
{% include 'quiz/partials/quiz/assets/js/_09_settings_modal.html' %}
{% include 'quiz/partials/quiz/assets/js/_10_hint_priority.html' %}
{% include 'quiz/partials/quiz/assets/js/_11_fab_hint_banner.html' %}
{% include 'quiz/partials/quiz/assets/js/_12_shortcut_hint_banner.html' %}
