{# ?????????????? CSS ???????????????????? include ???? #}
{% include 'quiz/partials/quiz/assets/css/_00_tokens.html' %}
{% include 'quiz/partials/quiz/assets/css/_01_base.html' %}
{% include 'quiz/partials/quiz/assets/css/_02_fab.html' %}
{% include 'quiz/partials/quiz/assets/css/_03_shell.html' %}
{% include 'quiz/partials/quiz/assets/css/_04_question.html' %}
{% include 'quiz/partials/quiz/assets/css/_05_answer_dock.html' %}
{% include 'quiz/partials/quiz/assets/css/_06_controls.html' %}
{% include 'quiz/partials/quiz/assets/css/_07_overlays_responsive.html' %}
{% include 'quiz/partials/quiz/assets/css/_08_layout_switch_card.html' %}
{% include 'quiz/partials/quiz/assets/css/_09_mini_program_parity.html' %}
