<div id="editorContent" class="forum-editor" contenteditable="true" placeholder="写下你的想法..."></div>
<div class="forum-editor-toolbar">
  <button type="button" onclick="execCmd('bold')" title="加粗"><b>B</b></button>
  <button type="button" onclick="execCmd('italic')" title="斜体"><i>I</i></button>
  <button type="button" onclick="execCmd('insertUnorderedList')" title="列表">&#8226;</button>
  <button type="button" onclick="execCmd('insertOrderedList')" title="有序列表">1.</button>
  <button type="button" onclick="insertLink()" title="链接">&#128279;</button>
</div>
