<script>
    {% include "user_bank/bank/bank_questions/scripts/_01_bootstrap.html" %}
    {% include "user_bank/bank/bank_questions/scripts/_02_bank_and_dropdown.html" %}
    {% include "user_bank/bank/bank_questions/scripts/_03_questions_table.html" %}
    {% include "user_bank/bank/bank_questions/scripts/_04_editor_options.html" %}
    {% include "user_bank/bank/bank_questions/scripts/_05_drawer_and_preview.html" %}
    {% include "user_bank/bank/bank_questions/scripts/_06_batch_ops.html" %}
    {% include "user_bank/bank/bank_questions/scripts/_07_modals_import_export.html" %}
</script>
