
  <script src="/static/js/exam_builder_inline_v3.js"></script>
  <script>
    {% include "user_bank/bank/bank_practice/body_end/_01_core.html" %}
    {% include "user_bank/bank/bank_practice/body_end/_02_tab_order.html" %}
    {% include "user_bank/bank/bank_practice/body_end/_03_search.html" %}
    {% include "user_bank/bank/bank_practice/body_end/_04_actions.html" %}
    {% include "user_bank/bank/bank_practice/body_end/_05_reinforce.html" %}
    {% include "user_bank/bank/bank_practice/body_end/_07_share_basic.html" %}
    {% include "user_bank/bank/bank_practice/body_end/_06_bootstrap.html" %}
    {% include "user_bank/bank/bank_practice/body_end/_08_stats.html" %}
    {% include "user_bank/bank/bank_practice/body_end/_99_utils.html" %}
  </script>
