
  <div class="app-container qb-shell">
    {% include "user_bank/bank/bank_practice/_hero.html" %}
    <div class="qb-body">
      {% include "user_bank/bank/bank_practice/_tabs_nav.html" %}

      <div class="qb-content">
        {% include "user_bank/bank/bank_practice/panels/_reinforce.html" %}
        {% include "user_bank/bank/bank_practice/panels/_stats.html" %}
        {% include "user_bank/bank/bank_practice/panels/_practice.html" %}
        {% include "user_bank/bank/bank_practice/panels/_exam.html" %}
        {% include "user_bank/bank/bank_practice/panels/_search.html" %}
        {% include "user_bank/bank/bank_practice/panels/_favorites.html" %}
        {% include "user_bank/bank/bank_practice/panels/_mistakes.html" %}
        {% include "user_bank/bank/bank_practice/panels/_tags.html" %}
        {% include "user_bank/bank/bank_practice/panels/_share.html" %}
        {% include "user_bank/bank/bank_practice/_footer_and_modals.html" %}
