
  <script src="/static/js/exam_builder_inline_v3.js"></script>
  <script>
    {% include "main/subject/subject_detail/body_end/_01_core.html" %}
    {% include "main/subject/subject_detail/body_end/_02_tab_order.html" %}
    {% include "main/subject/subject_detail/body_end/_03_search.html" %}
    {% include "main/subject/subject_detail/body_end/_04_share.html" %}
    {% include "main/subject/subject_detail/body_end/_05_stats.html" %}
    {% include "main/subject/subject_detail/body_end/_06_reinforce.html" %}
    {% include "main/subject/subject_detail/body_end/_99_bootstrap.html" %}
  </script>
