
  <div class="app-container qb-shell">
    {% include "main/subject/subject_detail/_hero.html" %}
    <div class="qb-body">
      {% include "main/subject/subject_detail/_tabs_nav.html" %}

      <div class="qb-content">
        {% include "main/subject/subject_detail/panels/_reinforce.html" %}
        {% include "main/subject/subject_detail/panels/_practice.html" %}
    {% include "main/subject/subject_detail/panels/_exam.html" %}
    {% include "main/subject/subject_detail/panels/_search.html" %}
    {% include "main/subject/subject_detail/panels/_stats.html" %}
    {% include "main/subject/subject_detail/panels/_favorites.html" %}
    {% include "main/subject/subject_detail/panels/_mistakes.html" %}
    {% include "main/subject/subject_detail/panels/_tags.html" %}
    {% include "main/subject/subject_detail/panels/_share.html" %}
    {% include "main/subject/subject_detail/panels/_export.html" %}
        {% include "main/subject/subject_detail/_footer_and_modals.html" %}
